<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Kore" version="1.0.0-CI00075" targetFramework="net461" />
  <package id="Kore.Dev" version="1.0.0-CI00075" targetFramework="net461" />
  <package id="Kore.IO" version="1.0.0-CI00075" targetFramework="net461" />
  <package id="Kore.Settings" version="1.0.0-CI00075" targetFramework="net461" />
  <package id="Moq" version="4.5.8" targetFramework="net461" />
</packages>